body {
    font-family: 'Calibri','sans-serif';
    background-color: #212121;
    text-align: center;
    padding: 20px;
}

.postcard-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px;
   
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-section .left {
    flex: 1;
    text-align: left;
}

.top-section .right {
    flex: 1;
    text-align: right;
}

.middle-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.middle-section .left {
    flex: 1;
    text-align: left;
}

.middle-section .right {
    flex: 1;
    text-align: left;
}

.middle-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px  #eeeeee;
    border-radius: 5px;
}

.bottom-section {
    margin-top: 20px;
}

.bottom-section button {
    padding: 10px 20px;
    background-color: #a4a4a4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.bottom-section button:hover {
    background-color: #a4a4a4;
}
